
/*----------------[ Body ]---------------------*/
body{
        
    background-color:white;
        

    }
/* the description in the body */
.description
{
    font-family: 'Titillium Web', sans-serif; 
}
/*-----------------[ Button ]-----------------*/
button {
    position: relative;
    left: 20px;
    border-style: solid ;
    border-width: 1px;;
    border-color: black;
    border-radius: 5px;;
    cursor: pointer;
    margin-bottom: 0px;
}
    
/*----------------[ Input ]----------------*/
input {
    position: relative;
    left: 20px;
    border-style: solid ;
    border-width: 1px;;
    border-color: black;
    border-radius: 5px;
    margin: 5px;
    
}
/*----------------The Board -------------*/
#board{
    width: 500px;
    height: 500px;
    background-color: white;
}
    
    /* ------------ container ------------ */
    .container{
        
        padding:10px;
        width:380px;
        margin:0 auto;
        
    }
    
    /* ------------ header ------------ */
    .header{
    
        width: 380px;
        height:200px;
        background-color: rgb(70, 70, 210);
        background-size: 100% 100%;
        
        /*
        background-size: contain;
        */
        
        position: relative;
        
    
        /* i just really wanted some shadow effect */
        box-shadow: 5px 0px 5px black;
    }
    
    
    
    .clear{
        width : 20px;
        height: 20px;
        position: absolute;
        right:20px;
        top: 10px;
    }
    .clear i{
        font-size: 30px;
        color: #FFF;
    }
    .clear i:hover{
        cursor: pointer;
        text-shadow: 1px 3px 5px #000;
        transform: rotate(45deg);
    }
    #date{
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #FFF;
        font-size: 25px;
        font-family: 'Titillium Web', sans-serif;
    }
    
    /* ------------ content ------------ */
    .content{
        width:380px;
        height: 350px;
        max-height:350px;
        background-color: #FFF;
        
    }
    .content::-webkit-scrollbar { 
        display: none; 
    }
    .content ul{
        padding:0;
        margin:0;
    }
    
    
    /* ------------ add item ------------ */
    .add-to-do{
        position: relative;
        width: 360px;
        height:40px;
        background-color: #FFF;
        padding: 10px;
        border-top: 1px solid rgba(0,0,0,0.1);
    }
    .add-to-do i{
        position: absolute;
        font-size: 40px;
        color: #4162f6;
    }
    
    .add-to-do input{
        position: absolute;
        left: 50px;
        height: 35px;
        width: 310px;
        background-color: transparent;
        border: none;
        font-size: 20px;
        padding-left:10px;
        
    }
    .add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #4162f6;
        font-family: 'Titillium Web', sans-serif;
        font-size: 20px;
    }
    .add-to-do input::-moz-placeholder { /* Firefox 19+ */
        color: #4162f6;
        font-family: 'Titillium Web', sans-serif;
        font-size: 20px;
    }
    .add-to-do input:-ms-input-placeholder { /* IE 10+ */
        color: #4162f6;
        font-family: 'Titillium Web', sans-serif;
        font-size: 20px;
    }
    .add-to-do input:-moz-placeholder { /* Firefox 18- */
        color: #4162f6;
        font-family: 'Titillium Web', sans-serif;
        font-size: 20px;
    }
    
    /** List ** sp=10 **/
    .list {
        background-color: white;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-radius: 20px;
        position: absolute;
        min-width: 300px;
        list-style: none;
        z-index: 9;
        
    }

    /** list elemens inside list class ** sp= 11 **/
    .list li{
        
    }

    /** list elements with the item class inside the list class div ** sp= 21 **/
    .list li.item{
        background-color:white;
        
    }
    .listheader {
        background-color: #2196F3;
        height: 30px;
        
        padding: 0px;
        margin: 5px;
        cursor: move;
        z-index: 10;
        border-style: solid;
        border-width: 2px;
        border-color: grey;
        border-radius: 20px;
        color: white;
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        font-size: 20px;
    }

    

    .item{
        
       
        
        position: relative;
        border-radius: 20px;
        
        
        
        
    }

    .item i.co{
        
    }
    .item i.co:hover{
        cursor: pointer;
    }
    .fa-check-circle{
        color:#6eb200;
    }
    /** paragraph text within an item class sp= 21**/
    .item p.text{
        display: inline-block;
        max-width: 250px;;
        position: absolute;
        top: 0px;
        left: 20px;
        text-indent: 10px;
        font-family: 'Titillium Web', sans-serif;
        font-size: 16px;
        word-break: break-all;
       
        margin: 0px;
    }
    .lineThrough{
        text-decoration: line-through;
        color: #ccc;
    }
    .item i.de{
        position: absolute;
        font-size: 20px;
        
        top:10px;

        /* this way the trash can icon is all the way to the left*/
        left: 270px;

    }
    .item i.de:hover{
        color:#af0000;
        cursor: pointer;
    }
    /** item element with position up class**/

    .pUp {
        
    }
    li.item > .pUp::before{
        display: inline-block;
        text-align: unset;;
        background-color: white;
        color: red;
        
        content: '\25B2';
        margin-left: 10px;
    }

    li.item > .pDown::after{
        display: inline-block;
        text-align: unset;;
        background-color: white;
        color: blue;
       
        content: '\25BC';
        margin-left: 10px;
    }


    .refBtn {
        width : 20px;
        height: 20px;
        position: absolute;
        right:20px;
        top: 10px;
        cursor: default;
    
    }
    
    .refBtn:hover{
        color:red;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    